
.container {

}
.menu-card {
    border-radius: 60px;
    background: #938540f1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.menu-card-icon {
    width: 50%;
    height: 35%;
}

.card {
    height: 100%;
    box-shadow: 0px 0px 10px black;
    border: none
}

.card-img-top {
    height: 220px;
}

#row-2 {
    opacity: 1;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

  .row {

  }
  
  
  #particles-js{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute; left: 0; top: 0; width: 100%; z-index: 0;
  }
  .particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

body {
    font-size: calc(10px + 0.2vw + 0.2vh);
}

#body-index {
    background: black;
}
#body-wiadomosci {
    background: rgb(240, 240, 235);
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

input, select {
    border-radius: 5px;
    text-align: center;
    border: none;
    background: #ffe5b43a;
    border-bottom: 2px solid black;
}
#search-submit {
    height: calc(20px + 1vw + 1vh);
    background: #FFE5B4;
    transition: 0.5s all;
    color: black;
    font-weight: bold;
    border-bottom: 0px;
    cursor: pointer;
}
#search-submit:hover {
    font-size: calc(13px + 0.2vw + 0.2vh);;
    transition: 0.5s all;
    cursor: pointer;
    background: #eecf90;
}
#search-keyword {
    height: calc(20px + 1vw + 1vh);
    background: #ffe5b43a !important;
}
#search-keyword:-webkit-autofill, #search-keyword:-moz-autofill{
    background: #ffe5b43a !important;
}
#search-keyword::selection {
    background: #FFE5B4;
}
.article-btn {
    background: #FFE5B4 !important;
    border: none;
    color: rgba(0, 0, 0, 0.55);
    width: calc(25px + 20vh);
    transition: 0.5s all;
}
.article-btn:hover {
    transition: 0.5s all;
    color: black !important;
    background: #eecf90 !important;
}
.back-to-menu {
    width: 15%;
}
.back-to-menu:hover {
    border-bottom: 2px solid black;
}
#row-3 {

}